In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [2]:
# Store Part I results into DataFrame
# Load the csv exported in Part I to a DataFrame
weather_data = pd.read_csv('../WeatherPy/weatherdata.csv', low_memory=False)
weather_data

,City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Windspeed (mph)
0,creazzo,45.5320,11.4785,30.146,36.0,100.0,5.18
1,mehamn,71.0357,27.8492,16.016,93.0,67.0,2.91
2,butaritari,3.0707,172.7902,81.302,83.0,2.0,5.06
3,hofn,64.2539,-15.2082,40.460,74.0,100.0,9.08
4,horasan,40.0458,42.1728,24.260,90.0,56.0,0.55
...,...,...,...,...,...,...,...
628,ramanuj ganj,23.8000,83.7000,69.854,30.0,0.0,1.09
629,nuuk,64.1835,-51.7216,18.302,86.0,90.0,6.17
630,vigrestad,58.5667,5.7000,13.532,92.0,0.0,2.10
631,bury saint edmunds,NaN,NaN,NaN,NaN,NaN,NaN
632,batouri,4.4333,14.3667,65.876,31.0,56.0,1.28

In [3]:
clean_weather = weather_data.dropna()
clean_weather

,City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Windspeed (mph)
0,creazzo,45.5320,11.4785,30.146,36.0,100.0,5.18
1,mehamn,71.0357,27.8492,16.016,93.0,67.0,2.91
2,butaritari,3.0707,172.7902,81.302,83.0,2.0,5.06
3,hofn,64.2539,-15.2082,40.460,74.0,100.0,9.08
4,horasan,40.0458,42.1728,24.260,90.0,56.0,0.55
...,...,...,...,...,...,...,...
627,ust-maya,60.4167,134.5333,10.850,91.0,46.0,1.19
628,ramanuj ganj,23.8000,83.7000,69.854,30.0,0.0,1.09
629,nuuk,64.1835,-51.7216,18.302,86.0,90.0,6.17
630,vigrestad,58.5667,5.7000,13.532,92.0,0.0,2.10
632,batouri,4.4333,14.3667,65.876,31.0,56.0,1.28

In [4]:
# Humidity Heatmap
# Configure gmaps.
gmaps.configure(api_key=g_key)
# Use the Lat and Lng as locations and Humidity as the weight.
locations = clean_weather[['Latitude', 'Longitude']]
humidity = clean_weather['Humidity (%)'].astype(float)
# Add Heatmap layer to map.
center_coord = (0,0)
figure_layout = {
    'width': '800px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px'
}
fig = gmaps.figure(center=center_coord, zoom_level=1.5, layout=figure_layout)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', padding='1px', width='800px'))

In [5]:
# Create new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions.
ideal_temp = clean_weather.loc[(clean_weather['Temperature (F)']>75) & (clean_weather['Temperature (F)']<80),:]
ideal_wind=ideal_temp.loc[(ideal_temp['Windspeed (mph)']<5)]
ideal_weather = ideal_wind.loc[(ideal_wind['Cloudiness (%)'] <10)]
ideal_weather

,City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Windspeed (mph)
13,kapaa,22.0752,-159.3190,77.000,57.0,1.0,3.60
63,busselton,-33.6500,115.3333,75.002,58.0,0.0,0.89
86,tabou,4.4230,-7.3528,78.242,90.0,0.0,2.78
111,kapoeta,4.7717,33.5903,77.468,42.0,0.0,1.57
187,phan thiet,10.9333,108.1000,78.836,60.0,0.0,2.64
317,otane,-39.8833,176.6333,78.008,42.0,2.0,4.80
366,acapulco,16.8634,-99.8901,77.000,78.0,1.0,3.09
390,harper,4.3750,-7.7169,78.926,89.0,0.0,3.11
403,cap malheureux,-19.9842,57.6142,75.002,85.0,2.0,3.13
432,bubaque,11.2833,-15.8333,77.306,65.0,0.0,4.73
438,grand gaube,-20.0064,57.6608,75.002,85.0,3.0,3.13
506,acajutla,13.5928,-89.8275,77.180,73.0,0.0,2.37
520,vao,-22.6667,167.4833,79.268,74.0,9.0,3.10

In [18]:
# Hotel Map
# Store into variable named hotel_df.
hotel_df = ideal_weather
# Add a "Hotel Name" column to the DataFrame.
hotel_df['Hotel Name'] = ""
hotel_df['Country']=''
hotel_df

C:\Users\molly\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\molly\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Windspeed (mph),Hotel Name,Country
13,kapaa,22.0752,-159.3190,77.000,57.0,1.0,3.60,,
63,busselton,-33.6500,115.3333,75.002,58.0,0.0,0.89,,
86,tabou,4.4230,-7.3528,78.242,90.0,0.0,2.78,,
111,kapoeta,4.7717,33.5903,77.468,42.0,0.0,1.57,,
187,phan thiet,10.9333,108.1000,78.836,60.0,0.0,2.64,,
317,otane,-39.8833,176.6333,78.008,42.0,2.0,4.80,,
366,acapulco,16.8634,-99.8901,77.000,78.0,1.0,3.09,,
390,harper,4.3750,-7.7169,78.926,89.0,0.0,3.11,,
403,cap malheureux,-19.9842,57.6142,75.002,85.0,2.0,3.13,,
432,bubaque,11.2833,-15.8333,77.306,65.0,0.0,4.73,,
438,grand gaube,-20.0064,57.6608,75.002,85.0,3.0,3.13,,
506,acajutla,13.5928,-89.8275,77.180,73.0,0.0,2.37,,
520,vao,-22.6667,167.4833,79.268,74.0,9.0,3.10,,

In [21]:
# Set parameters to search for hotels with 5000 meters.
params = {"radius" : 5000,
          "types" : "hotel",
          "key": g_key    
}
for index, row in hotel_df.iterrows():
    lat=row['Latitude']
    lng=row['Longitude']
    params["location"] = f"{lat}, {lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address = requests.get(base_url, params=params)
    name_address=name_address.json()
    #print(json.dumps(name_address, indent = 4, sort_keys=True))
# Hit the Google Places API for each city's coordinates.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address['results'][1]['name']
        hotel_df.loc[index, "Country"] = name_address['results'][1]['plus_code']['compound_code'].split(', ')[-1]
    except:
        print(row['City'] + "does not have a nearby hotel")
# Store the first Hotel result into the DataFrame.        
hotel_df

C:\Users\molly\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Windspeed (mph),Hotel Name,Country
13,kapaa,22.0752,-159.3190,77.000,57.0,1.0,3.60,Sheraton Kauai Resort at Coconut Beach,USA
63,busselton,-33.6500,115.3333,75.002,58.0,0.0,0.89,Observatory Guest House,Australia
86,tabou,4.4230,-7.3528,78.242,90.0,0.0,2.78,College Delaroche,Côte d'Ivoire
111,kapoeta,4.7717,33.5903,77.468,42.0,0.0,1.57,Kapoeta State Hospital,South Sudan
187,phan thiet,10.9333,108.1000,78.836,60.0,0.0,2.64,Hotel Saigon-PT,Vietnam
317,otane,-39.8833,176.6333,78.008,42.0,2.0,4.80,Otane School,New Zealand
366,acapulco,16.8634,-99.8901,77.000,78.0,1.0,3.09,HS Hotsson Smart Acapulco,Mexico
390,harper,4.3750,-7.7169,78.926,89.0,0.0,3.11,EVA MARKETING,Liberia
403,cap malheureux,-19.9842,57.6142,75.002,85.0,2.0,3.13,Pereybere Hotel & Spa,Mauritius
432,bubaque,11.2833,-15.8333,77.306,65.0,0.0,4.73,"Casa Dora, Bubaque",Guinea-Bissau
438,grand gaube,-20.0064,57.6608,75.002,85.0,3.0,3.13,Veranda Paul et Virginie Hotel & Spa,Mauritius
506,acajutla,13.5928,-89.8275,77.180,73.0,0.0,2.37,"Constructora Umaña, S.A.",El Salvador
520,vao,-22.6667,167.4833,79.268,74.0,9.0,3.10,Hotel Kou-Bugny,New Caledonia

In [22]:
hotel_df=hotel_df.rename(columns={"Latitude": "Lat", "Longitude":"Lng"})
#plot markers on top of the heatmap

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', padding='1px', width='800px'))